<form action="/create" method="POST">
  <h1>{{title}}</h1>
  <div class="input-field col s6">
    <input name="title" type="text" placeholder="Новая задача">
  </div>
  <button type="submit" class="waves-effect waves-light btn">Добавить</button>
</form>

<br>
<a class="waves-effect waves-light btn" href="/">Назад</a>